{% extends "twitter_analysis/base.html" %}
{% block content %}
{% for campaign in campaigns %}
<article class="media content-section">
    <div class="media-body">
        <div class="article-metadata">
            <a class="mr-2" href="#">{{ campaign.owner }}</a>
            <small class="text-muted">{{ campaign.last_refreshed }}</small>
        </div>
        <h2><a class="article-title" href="{% url 'campaign-detail' campaign.id %}">{{ campaign.name }}</a></h2>
        <p class="article-content">{{ campaign.description }}</p>
    </div>
</article>
{% endfor %}
{% endblock content %}